body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  width: 500px;
  height: 200px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

/* creating a toggle button */

label::after {
  content: " ";
  width: 180px;
  height: 180px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  transition: 0.3s;
 
}


/* Creating a toggle animation */


input {
  width: 0;
  height: 0;
  visibility: hidden;
}

/* this is for the reversed toggle buttown BG */
input:checked + label {
  background: #242424;
}

/* this is used for creating a motion + the moon effect */
input:checked + label:after {
  left: 490px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #242424,#242424);
  box-shadow: inset 20px -30px 0px 0px rgb(201, 196, 196);

}

label:active:after {
  width: 260px;
}

/* for changing the background-color */
.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: #fff;
  z-index: -1;
  position: absolute;
  transition: 0.3s;
}

input:checked + label + .background {
  background: #242424;
}


